<a href='/' class="btn btn-info" id="back">back</a>
<h1>Recipe Junkie</h1>
<h3>Welcome to your recipe categories.</h3>
<hr>
<% if @categories.any?() %>
  <h3>Here are all the categories in your recipe book:</h3>
  <h4><% @categories.each do |category| %>
  <a href="/category/<%= category.id()%>"><%= category.category_name %></h4>
  <% end %>
<% end %>
<hr>
<div class="form-container">
  <form action="/categories" method="post">
    <p><label for="category_name">New Category</label>
    <input id="category_name" name="category_name" type="text" class="form-control"></p>
    <p><button type="submit" class="btn btn-info">Add Category</button></p>
  </form>
</div>
