<h1>Recipe Book</h1>

<div class="container">
  <p>What would you like to do today?</p>
  <p><a href="/recipes">Manage Recipes</a></p>
  <p><a href="/categories">View Recipe Categories</a></p>
</div>
