<div class="container" id="index">
  <h1>The Recipe Junkie</h1>
  <br>
  <br>
  <form action="/search" method="post" class="form-container">
    <p><label for="ingredient">Search By Ingredient</label>
    <input id="ingredient" name="ingredient" type="text" class="form-control"></p>
    <p><button type="submit" class="btn btn-info">Search</button></p>
  </form>
  <br>
  <a href="/recipes"><img src='../img/manage.png' class="manage"></a>
  <a href="/categories"><img src='../img/view.png' class="view"></a>
  <br>


    <% if @recipes.any?() %>
      <h2 class="top">Top Rated Recipes</h2>
      <% @recipes.each do |recipe| %>
      <div class="well">
        <% if recipe.rating == nil %>
          <% elsif recipe.rating == 5 %>
            <h2>♥ ♥ ♥ ♥ ♥</h2>
          <% elsif recipe.rating == 4 %>
            <h2>♥ ♥ ♥ ♥</h2>
          <% elsif recipe.rating == 3 %>
            <h2>♥ ♥ ♥</h2>
          <% elsif recipe.rating == 2 %>
            <h2>♥ ♥</h2>
          <% elsif recipe.rating == 1 %>
            <h2>♥</h2>
        <% end %>
        <h2><a href="/recipes/<%= recipe.id()%>"><%= recipe.recipe_name %></a></h2>
      </div>
      <br>
      <% end %>
    <% end %>
