<div class="container" id="index">
  <h1>The Recipe Junkie</h1>
  <br>
  <a href="/recipes"><img src='../img/manage.png' class="manage"></a>
  <a href="/categories"><img src='../img/view.png' class="view"></a>
</div>
