.remove_project_button {
  border: none;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 90px;
  margin: 0 auto;
}
h3, h4, h5, p, a, h2 {
  text-align: center;
}

.top {
  font-family: 'Pacifico', cursive;
}
.manage {
  margin-left: 70px;
}
.form-container {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.createrecipe {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.form-container {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.editname, .editingredients, .editinstructions {
  display: none;
}

.btn.btn-danger {
  display: block;
  margin: 0 auto;

}
#back {
  text-align: left;
  margin-top: 10px;
}

.deletecat {
  display: inline;
}

.well {
  background-color: white;
  width: 25%;
  display: block;
  margin: 0 auto;
}

#deletealert {
  display:none;
}
